.card-container{
  margin-left: 100px;
    height: 150px;
    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #00000017;
    overflow: hidden;
}

.img-card {
    border-radius: 10px;
    width: 30%;
    height: 90%;
    object-fit: cover;
  }

   h1{
    font-size: 1.3rem;
    font-weight: 400px;
  }


  .right-part-card{
    flex:1;
    padding-left: 20px;
    
  }

  .pending-card-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  .size{
    height: 35px;
    width: 110px;
    border-radius: 10px;
    border:none;
    color: white;
    cursor: pointer;
  }

  .green{
    background-color: #2BB56A;
  }

  .red{
    background-color: #D23227;
  }
  
  